/* Contact Page Styles */
.contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensures full viewport height */
  background: linear-gradient(to right, #2C3E50, #7F8C8D);
  background-size: cover;
  background-image: url('../images/resume-mask.svg');

  background-attachment: fixed; /* Make the background fixed while scrolling */
  position: relative;
  color: #ECF0F1; /* White text */
  font-family: 'Roboto', sans-serif;
}

.contact-form-card {
  background: #BDC3C7; /* Light gray background */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px); /* Blur effect */
  width: 90%;
  max-width: 500px;
  text-align: center;
  transform: translateY(-50px); /* Move the card upwards by 50px */
}

.contact-form-card h2 {
  font-size: 2rem;
  color: #2C3E50; /* Dark blue text */
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: #2C3E50; /* Dark blue text */
  font-weight: 700;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #2C3E50; /* Dark blue border */
}

button {
  background-color: #2C3E50; /* Dark blue background */
  color: #ECF0F1; /* White text */
  padding: 15px 30px;
  font-size: 1.1rem;
  border: 1px #2C3E50 solid;
  border-radius: 30px; /* Make the button more rounded */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #7F8C8D; /* Light gray background */
  cursor: not-allowed;
}

button:hover {
  background-color: #2C3E50; /* Dark blue background */
}

.form-status {
  margin-top: 15px;
  color: #2C3E50; /* Dark blue text */
}